<% include partials/header %>

<DIV class="CONTAINER">

<div class="row">

    
    <h1 style="text-align: center">Create a new Campground</h1>

    <div style="width: 30%; margin:30px auto;">

    <form action="/campground" method="POST">
        <div class="form-group">
            <input class="form-control" type="text" name="name" placeholder="NAME">
        </div>
        
        <div class="from-group">
        <input class="form-control" type="text" name="image" placeholder="IMAGE URL">
        </div>
        <br>
        <div class="from-group">
            <input class="form-control" type="text" name="description" placeholder="DESCRIPTION">
        </div>

        <div class="form-group">   
            <br>
        <button class="btn btn-lg btn-success btn-block">SUMBIT!</button>
        </div>
    </form>
    
    <a href="/campground">GO BACK !</a>
    </div>
</div>
</DIV>



<% include partials/footer %>